*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body{
	background-color: rgb(247,247,247);
}
header{
	width: 100%;
	background-color: rgb(247,247,247);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
section{
	margin-top: 1.1rem;
}
.title{
	font-size: 0.4rem;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-around;
	padding: 0.2rem 0.2rem;
	color: darkgray;
}
.title img{
	width: 0.4rem;
	height: 0.6rem;
	margin-right: 0.4rem;
}
.find_frame{
	width: 4rem;
	height: 0.6rem;
	font-size: 0.4rem;
	padding-left: 1rem;
}
.title p{
	margin-top: 0.1rem;
}
.find{
	position: absolute;
	top: 0.3rem;
	left: 1.5rem;
}
.dianpu{
	width: 100%;
	position: relative;
}
.bac{
	width: 100%;
	height: 2rem;
} 
.test{
	width: 90%;
	height: 1.4rem;
	overflow: hidden;
	position: absolute;
	top: 0.3rem;
	left: 0.2rem;
	font-size: 0.4rem;
	color: white;
	padding-top: 0.2rem;
}
.shop_img{
	width: 2rem;
	float: left;
	margin-right: 0.2rem;
}
.xingxing4{
	height: 0.4rem;
	margin-top: 0.1rem;
}
.sort{
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 0.4rem;
	background-color: white;
	color: slategray;
	padding: 0.2rem 0;
}
.sort li{
	width: 25%;
	text-align: center;
}
.get_red{
	color: red;
}
.box{
	position: relative;
}
.red_tiao{
	width: 1.875rem;
	height: 0.1rem;
	background-color: red;
	position: absolute;
	bottom: 0;
	left: 0;
}
.goods{
	position: relative;
}
.goods p{
	color: red;
	font-size: 0.6rem;
}
.wines{
	width: 100%;
}
.one{
	position: absolute;
	top: 38%;
	left: 2%;
}
.tow{
	position: absolute;
	top: 38%;
	right: 16%;
}
.three{
	position: absolute;
	bottom: 6%;
	left: 2%;
}
.fore{
	position: absolute;
	bottom: 6%;
	right: 11%;
}
.all_sorts{
	background-color: black;
	width: 50%;
	height: 100%;
	position: fixed;
	top: 1.1rem;
	right: 0;
	display: none;
	overflow: scroll;
}
.sorts li{
	color: white;
	opacity: 0.8;
	font-size: 0.4rem;
	padding: 0.2rem 0.4rem;
	border-bottom: 1px solid darkgray;
}
.title1{
	display: flex;
	justify-content: space-between;
}
.individual_sorts{
	color: white;
	opacity: 0.5;
	font-size: 0.3rem;
	display: none;
}
.individual_sorts p{
	padding: 0.2rem 0.6rem;
	border-bottom: 1px solid darkgray;
}
.show1{
	display: block;
}
.down{
	transform: rotate(90deg);
}
