*{
	margin: 0;
	padding: 0;
}
a{
	color: black;
	text-decoration: none;
}
body{
	background-color: rgb(247,247,247);
}
.title{
	display: flex;
	justify-content: space-between;
	padding: 0.2rem 0.4rem;
}
.title img{
	height: 0.6rem;
}
.title span{
	font-size: 0.4rem;
}
section img{
	width: 100%;
}
.interlinkage{
	width: 4rem;
	background-color: black;
	color: white;
	opacity: 0.8;
	position: fixed;
	top: 1rem;
	right: 0;
	display: none;
}
.interlinkage li{
	padding: 0.2rem 0.4rem;
	font-size: 0.4rem;
	text-align: center;
	border-bottom: 1px solid lightgray;
}
.interlinkage li a img{
	width: 0.6rem;
}
.interlinkage li a span{
	color: white;
	margin-bottom: 0.1rem;
}
